<div class="text-center py-10 mt-5 border-t border-gray-500">
    <div class="container mx-auto text-center text-white">
            <p class="pb-2">Built by <a href="https://twitter.com/erikaheidi" class="underline" title="Follow Erika on Twitter">Erika Heidi</a> with <a href="https://github.com/minicli/librarian" target="_blank" title="Librarian on GitHub" class="underline">Librarian</a>. <a href="#">Back to top <span class="icon"><i class="fas fa-arrow-alt-circle-up"></i></span></a></p>
        <p>Found an issue? Have suggestions? Join our <a href="https://github.com/erikaheidi/onlinux/discussions" class="underline" title="Join our Discussions group on GitHub">discussions group on GitHub</a>.</p>
    </div>
</div>